$background-main: rgba(0, 0, 0, 0.37);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: $background-main;
}

h1 {
    color: blue;
}

canvas {
    border-radius: 25px;
    border: 1px solid #dddddd;
    background-image: url(../assets/fieldBackground.png);
    background-size: cover;
}