$background-main: rgba(0, 0, 0, 0.37);
$primary-grey: #dddddd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Marvin", sans-serif;
  color: $primary-grey;
}

body {
  background-color: $background-main;
}

.homeScreen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    label {
      font-size: 24px;
    }

    input {
      color: black;
      width: 120px;
      padding: 5px;
      border-radius: 10px;
      font-size: 24px;
    }

    button {
      width: 150px;
      height: 70px;
      font-size: 36px;
      border-radius: 10px;
      color: black;
      cursor: pointer;

      &:hover {
        color: $primary-grey;
      }
    }
  }
}

.gameScreen {
  flex-direction: column;
  display: none;

  .gameField {
    display: flex;
    justify-content: space-evenly;

    &__controls {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .panelScore {
        width: 278px;
        height: 260px;
        background-image: url(../assets/panelScore.png);
        background-size: contain;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        color: $primary-grey;
        font-weight: 700;
        font-size: 24px;

        &__moves {
          font-size: 60px;
        }

        &__points {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
        }
      }

      .restart {
        width: 230px;
        height: 74px;
        background-image: url(../assets/button.png);
        background-size: contain;
        display: none;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        cursor: pointer;
      }

      .shuffle {
        width: 115px;
        height: 50px;
        background-image: url(../assets/button2.png);
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }
}

canvas {
  border-radius: 25px;
  border: 1px solid $primary-grey;
  background-image: url(../assets/fieldBackground.png);
  background-size: cover;
}

.progress {
  width: 400px;
  height: 80px;
  margin: 0 auto;
  background-image: url(../assets/progressBackground.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

  &__title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
  }

  &__PB-background {
    width: 360px;
    height: 30px;
    background-image: url(../assets/progressBarBackground.png);
    border-radius: 30px;
    background-size: cover;
    overflow: hidden;
  }

  #score {
    width: 360px;
    height: 30px;
    background-image: url(../assets/progressBar.png);
    background-size: contain;
  }
}
