$background-main: rgba(0, 0, 0, 0.37);
$primary-grey: #dddddd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: $background-main;
}

h1 {
  color: blue;
}

.gameScreen {
  display: flex;
  flex-direction: column;

  .gameField {
    display: flex;
    justify-content: space-evenly;
    
    &__controls {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .panelScore {
        width: 278px;
        height: 260px;
        background-image: url(../assets/panelScore.png);
        background-size: contain;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        color: $primary-grey;
        font-weight: 700;
        font-size: 24px;

        &__moves {
          font-size: 60px;
        }

        &__points {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
        }
      }
  }

  }
}

canvas {
  border-radius: 25px;
  border: 1px solid $primary-grey;
  background-image: url(../assets/fieldBackground.png);
  background-size: cover;
}

.progress {
  width: 400px;
  height: 80px;
  margin: 0 auto;
  background-image: url(../assets/progressBackground.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

  &__title {
    color: $primary-grey;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
  }

  &__PB-background {
    width: 360px;
    height: 30px;
    background-image: url(../assets/progressBarBackground.png);
    border-radius: 30px;
    background-size: cover;
    overflow: hidden;
  }

  #score {
    width: 360px;
    height: 30px;
    background-image: url(../assets/progressBar.png);
    background-size: contain;
  }
}
